<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="PROMETHEUS" class="io.prometheus.client.logback.InstrumentedAppender"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="net.logstash.logback.layout.LogstashLayout"/>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="PROMETHEUS"/>
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>